[submodule "libnetfilter_acct"]
	path = libnetfilter_acct
	url = git@github.com:rcoscali/libnetfilter_acct.git
[submodule "libmnl"]
	path = libmnl
	url = git@github.com:rcoscali/libmnl.git
[submodule "libnfnetlink"]
	path = libnfnetlink
	url = git@github.com:rcoscali/libnfnetlink.git
[submodule "nfacct"]
	path = nfacct
	url = git@github.com:rcoscali/nfacct.git
[submodule "libnetfilter_conntrack"]
	path = libnetfilter_conntrack
	url = git@github.com:rcoscali/libnetfilter_conntrack.git
[submodule "libnetfilter_cttimeout"]
	path = libnetfilter_cttimeout
	url = git@github.com:rcoscali/libnetfilter_cttimeout.git
[submodule "libnetfilter_cthelper"]
	path = libnetfilter_cthelper
	url = git@github.com:rcoscali/libnetfilter_cthelper.git
[submodule "libnetfilter_queue"]
	path = libnetfilter_queue
	url = git@github.com:rcoscali/libnetfilter_queue.git
[submodule "libnetfilter_log"]
	path = libnetfilter_log
	url = git@github.com:rcoscali/libnetfilter_log.git
[submodule "libnftnl"]
	path = libnftnl
	url = git@github.com:rcoscali/libnftnl.git
[submodule "nftables"]
	path = nftables
	url = git@github.com:rcoscali/nftables.git
[submodule "ipset"]
	path = ipset
	url = git@github.com:rcoscali/ipset.git
[submodule "conntrack-tools"]
	path = conntrack-tools
	url = git@github.com:rcoscali/conntrack-tools.git
