[submodule "libnetfilter_acct"]
	path = libnetfilter_acct
	url = git@github.com:rcoscali/libnetfilter_acct.git
[submodule "libmnl"]
	path = libmnl
	url = git@github.com:rcoscali/libmnl.git
[submodule "libnfnetlink"]
	path = libnfnetlink
	url = git@github.com:rcoscali/libnfnetlink.git
[submodule "nfacct"]
	path = nfacct
	url = git@github.com:rcoscali/nfacct.git
[submodule "libnetfilter_conntrack"]
	path = libnetfilter_conntrack
	url = git@github.com:rcoscali/libnetfilter_conntrack.git
[submodule "libnetfilter_cttimeout"]
	path = libnetfilter_cttimeout
	url = git@github.com:rcoscali/libnetfilter_cttimeout.git
[submodule "libnetfilter_cthelper"]
	path = libnetfilter_cthelper
	url = git@github.com:rcoscali/libnetfilter_cthelper.git
[submodule "libnetfilter_queue"]
	path = libnetfilter_queue
	url = git@github.com:rcoscali/libnetfilter_queue.git
